* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 104px 20px 20px;
  height: 100%;
  overflow-y: auto;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  color: #2a4062;
  background-color: #f3f4f9;
  font-family: "Open Sans", "sans-serif";
}

label.Mui-focused {
  color: #2a4062 !important;
}

.Mui-focused fieldset {
  border-color: #2a4062 !important;
  border-width: 1px !important;
}

label.MuiInputLabel-formControl {
  top: 4px;
}

.css-6hp17o-MuiList-root-MuiMenu-list li {
  font-size: 14px;
  min-height: unset;
}

.css-6hp17o-MuiList-root-MuiMenu-list li:hover {
  background-color: rgb(22 119 255/ 6%);
}

ul#\:r3\:,
ul#\:r5\: {
  max-height: 125px;
  overflow-y: auto;
  padding-bottom: 0;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

@keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }
}

/* .bg-style {
      position: relative;
      padding: 6px 14px 6px 10px;
      background-color: rgba(74, 210, 146, 10%);
      display: inline-flex;
    }

    .bg-style:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: rgba(74, 210, 146, 100%);
    } */
